<div id="header">
	<nav class="container">
		<ul class="nav">
		<!--
			{%if is_granted('ROLE_USER')%}
				--><li><a href="{{path('acme_main_homepage')}}" class="nav-icon" title="На главную"><span class="icon-home"></span> </a></li><!--
				--><li><a href="{{path('notes')}}" title="Блокнот">Блокнот</a></li><!--
				--><li><a href="{{path('profile')}}" title="Профиль">Профиль</a></li><!--
				--><li><a href="{{path('logout')}}" title="Выход">Выход</a></li><!--
			{%else%}
				--><li><a href="{{path('registration')}}" title="Регистрация">Регистрация</a></li><!--
				--><li><a href="{{path('login')}}" title="Вход">Вход</a></li><!--
			{% endif %}
			-->
		</ul>
	</nav>
</div>